
h3{
  color: white;
}
.div{


  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  height: 50px;
  display: flex;
  justify-items: center;
  padding-left: 10px;
  padding-right: 10px;


}
.principal{
  margin: auto;
  margin-top: 150px;
  width: 320px;
  height: 350px;
  background-color: rgb(44, 77, 79);
  padding: 10px;
  padding-top: 40px;
  border-radius: 10px;
}

.ipt{
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 90%;
  border-bottom-style: solid;
  border-color: black;
  background-color: transparent;
  outline: 0px;
  color: white;

}

.btn{
  border-style: solid;
  border-color: white;
  color: white;
  width: 50%;
}
