#adiv{
  display: inline-block;
  width: 1000px;
  height: 800px;
  margin-left: 150px;
  padding: 20px;
  background-color: rgb(225, 221, 216);

}

input{
  width: 300px;
}

.row{


  padding: 5px;
  margin-bottom: 20px;
}

.col{




  display: block;
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 25px;
  padding-right: 25px;



}

#botoes{
  display: flex;
  justify-content: left;
  margin-bottom: 100px;
  margin-top: 50px;
  padding-left: 78px;
}

button{
  width: 100px;
}

#btn-edit, #btn-delete{

  background-color: transparent;
  border: 0px;

}

td, th{


  text-align: center;
}

#titulo{
  margin-bottom: 40px;
  text-align: center;
}


#divt{
  overflow: scroll;
  height: 300px;
}
